<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
   <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid voluptatem fuga soluta earum, sint nobis minima consequatur! Maxime sapiente illum, animi ducimus, labore eos sit, dignissimos unde qui recusandae beatae.</p>
</body>
</html>